# IDE
.vscode/
.idea/

# Models
lightning_logs/
mlruns/

# Data
datasets/

# Testing
test/resources/out
.pytest_cache/

# LaTeX
*.aux
*.log
*.out
*.fls
*.fdb_latexmk
*.gz
*.xdv
*.bbl
*.blg
*.bcf
*.run.xml

# Metadata
*.DS_Store
*.ipynb_checkpoints